body {
    background-color: navy;
}

.startBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.infoCard,
.quizBox,
.scoreBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.infoCard.activeInfo,
.quizBox.activeQuiz {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

/* Start Button Styling */
.startBtn button {
    font-size: 32px;
    font-weight: 500;
    padding: 10px;
    background-color: skyblue;
    border: solid 2px white;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.startBtn button:hover {
    background-color: navy;
    color: white;
    border: solid 2px skyblue
}

/* Info Card Styling */
.infoCard {
    width: 600px;
    background-color: white;
    border: solid 5px skyblue;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(.9);
}

.infoCard .Info-title {
    height: 60px;
    background-color: aliceblue;
    border-bottom: solid 1px skyblue;
    display: flex;
    align-items: center;
    padding: 0 265px;
    margin: 0 0 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 32px;
    font-weight: 600;
    color: navy;
}


.infoCard .Rules-list {
    padding: 15px 15px 0 35px;
    margin-bottom: 20px;
}

.infoCard .Rules-list .Rules {
    margin: 10px 0;
    font-size: 18 px;
    color: navy
}

/* Button Styling */
.infoCard .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    background-color: aliceblue;
    border-top: 1px solid skyblue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.infoCard .buttons button {
    margin: 20px 20px;
    height: 40px;
    width: 200px;
    outline: none;
    border: 1px solid navy;
    border-radius: 10px;
    background-color: skyblue;
    color: navy;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.infoCard .buttons button:hover {
    background-color: navy;
    color: white;
    border: 1px solid skyblue;
}

/* Quiz Question Box Styling */
.quizBox {
    width: 600px;
    background-color: white;
    border-radius: 10px;
    border: 5px solid skyblue;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.quizBox header {
    position: relative;
    z-index: 99;
    background-color: aliceblue;
    border-bottom: 1px solid navy;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: navy;
}

.quizBox header .title {
    font-size: 24px;
    font-weight: 600;
}

.quizBox header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140x;
    height: 50px;
    font-size: 18px;
}

/* Answers Styling */
.quizBox section {
    padding: 25px 30px 20px 30px;
    font-size: 18px;
    color: navy;
    background-color: skyblue;
}

.quizBox section .context {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.quizBox section .answersList {
    padding: 20px 0;
    display: block;
}

section .answersList .option {
    background: aliceblue;
    border: 1px solid navy;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

section .answersList .option:hover {
    background-color: navy;
    color: white;
    border: 1px solid white;
}

.answersList .option .material-symbols-outlined {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 24px;
}

.answersList .option #Wrong {
    color: red
}

.answersList .option #Correct {
    color: forestgreen;
    background-color: greenyellow;
}

/* Quiz Box footer styling */
.quizBox footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background-color: aliceblue;
    border-top: 1px solid navy;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.quizBox footer .questionCount span {
    display: flex;
    user-select: none;
}

footer .questionCount span p {
    font-weight: 500;
    width: 20px;
    padding: 0 5px;
}

footer .nextBtn {
    margin: 20px 20px;
    height: 40px;
    width: 200px;
    border: 1px solid navy;
    border-radius: 10px;
    background-color: skyblue;
    color: navy;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

footer .nextBtn:hover {
    background-color: navy;
    color: white;
    border: 1px solid skyblue;
}

/* Score Box */
.scoreBox {
    width: 600px;
    padding: 25px 30px;
    background: white;
    border: solid 5px skyblue;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.scoreBox .material-symbols-outlined {
    font-size: 75px;
    margin: 20px;
    color: gold;
}

.Score-box .finish {
    font-size: 24px;
    font-weight: 600;
    color: navy;
    margin: 0 0 15px 0;
}

.scoreBox .finalScore span {
    display: flex;
    margin: 10px 0;
    font-size: 20px;
    color: Navy;
}

.scoreBox .finalScore span p {
    padding: 0 5px;
}

/* Initals Saving */
.scoreBox .input p {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: navy
}

.scoreBox .input #form {
    font-size: 18px;
    border: 1px solid navy;
    border-radius: 5px;
}

.scoreBox .input input:hover {
    border: 1px solid skyblue;
}

.scoreBox .input button {
    margin: 0 10px 30px 10px;
    height: 40px;
    padding: 0 20px;
    background-color: navy;
    color: white;
    border: 1px solid skyblue;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.scoreBox .input button:hover {
    background-color: skyblue;
    color: navy;
    border: 1px solid navy;
}

/* Score box buttons Stlying */
.scoreBox .buttons {
    display: flex;
    margin: 20px 0;
}

.scoreBox .buttons button {
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    background-color: skyblue;
    color: navy;
    border: 1px solid navy;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.scoreBox .buttons button:hover {
    background-color: navy;
    color: white;
    border: 1px solid skyblue;
}